@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html {
      font-size: 62.5%;
    }
    body {
      font-family: 'Montserrat', sans-serif;
    }
    .header {
      position: relative;
      height: 100vh;
      background-image:linear-gradient(to top , #0000005E, #0000008C) ,url('https://i.postimg.cc/kXzTq4hn/header-image.jpg');
      background-repeat: no-repeat; 
      background-position: center center; 
      background-size: cover;
      filter: contrast(110%);
    }
    
    
    /*###########   Navbar    ##############*/
    
    
    .navbar {
      padding: 1rem;
    }
    .navbar::after {
      content: "";
      display: block;
      clear: both;
    }
     .navbar .logo {
      color: white;
      float: left;
    }
     .navbar .listitems {
      float: right;
    }
     ul li {
      list-style: none;
      display: inline-block;
      padding: 1rem;
      margin-top: 1rem;
      margin-bottom: 0.5em;
      font-size: 1.6rem;
    }
     .navbar li a {
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      text-decoration: none;
      display: inline-block;
      padding-bottom: 0.3rem;
    }
     .navbar li a:hover {
      color: #DC2936;
      border-bottom: 1px solid white;
    }
    
    /*#########  Header content  ##########*/
    
    
    .header-content {
      width: 80%;
      padding: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
    }
    
    .header-content h1 {
      text-transform: uppercase;
      font-weight: 700;
    }
    .header-content p {
      text-transform: uppercase;
    }
    
    
    /*#######   Showcase section   ##########*/
    
    
    .showcase {
      background-color: rgb(252,252,255);
      padding: 10rem 0;
    }
    
    .row {
      height: 350px;
      background-color: white;
      box-shadow: 10px 10px 10px rgba(0,0,0,0.5), -10px -10px 10px rgba(250,250,250,0.9);
    }
    
    .row1 , .row2 {
      margin-bottom: 10rem;
    }
    
    .row1 .img-box , .row2 .text-box ,.row3 .img-box {
      float: left;
      width: 50%;
      
    }
    
    .row2 .img-box , .row1 .text-box , .row3 .text-box{
      float: right;
      width: 50%;
      
    }
    
    .row .img-box {
      height: 100%;
    }
    
    .row .text-box {
      padding: 3rem;
    }
    .row .img-box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .row h2 {
     text-transform: uppercase;
     text-align: center;
    }
    .row::after {
      content: '';
      display: block;
      float: clear;
    }
    
    
    /*############## Feature section #########*/
    
    
    .feature {
      padding: 10rem 0;
      height: 100vh;
      
    }
    .box-wrapper {
      box-shadow: 10px 10px 15px rgba(0,0,0,0.5), -10px -10px 15px rgba(230,230,230,0.7);
    }
    .box-wrapper .featureName {
      text-align: center;
      border-bottom: 0.5rem solid crimson;
      margin-bottom: 8rem;
    }
    .box {
      width: 33.33333%;
      height: 250px;
      float: left;
      padding: 2rem;
      text-align: center;
    }
    .box-wrapper::after {
      content: '';
      display: block;
      clear: both;
    }
    .box i {
      font-size: 30px;
      margin-bottom: 0.3em;
    }
    .box1 , .box3 {
      background: #263238;
      color: white;
    }
    .box2 {
      background: rgba(202, 44, 55, 0.9);
    }
    
  /*#############    Footer      ##############*/
    
    
    .footer {
      background: #263238;
      color: #f4f4f4;
      padding: 2rem;
      text-align: center;
    }
    .social i {
      font-size: 6rem;
      margin: 2rem;
      color: white;
    }
    .social i:hover {
      color: crimson;
    }
    
    
    
   /*###########    About page  #############*/
    
    
    .about {
      padding: 5rem 0;
     
    }
    /*
    To draw bottom line method (1)  ===>
    .about-heading {
      border-bottom: 0.6rem solid #e63946;
    }
    */
    /* To draw bottom line method(2) ===>  */
    .about-heading::after {
      content: '';
      display: block;
      border: 0.3rem solid #e63946;
      width: 100%
    }
    .about-wrapper {
      text-align: left;
      margin-top: 2rem;
    }
    .about-wrapper ul li {
      display: block;
    }
    .about-wrapper ul li::before {
      content: '\2713';
      display: inline-block;
      color: #e63946;
      font-weight: 700;
      padding-right: 1rem;
    }
    .about-wrapper .about-left {
      float: left;
      width: 50%;
      
    }
    .about-wrapper .about-right {
      float: right;
      width: 50%;
    }
    .about-wrapper::after {
      content: '';
      display: block;
      clear: both;
    }
    .counts {
      margin-top: 5rem;
    }
    .count-items {
      float: left;
      width: 25%;
      text-align: center;
    }
    .counts::after {
      content: '';
      display: block;
      clear: both;
    }
    .counts span {
      color: #e63946;
      font-size: 3rem;
      font-weight: 700;
    }
    .counts p {
      font-weight: 700;
    }
    .about-banner {
      margin-top: 5em;
      background: #e63946;
      padding: 1rem;
      color: white;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.5), -5px -5px 10px rgba(230,230,230,1);
    
    }
    .about-banner .left-banner {
      float: left;
      width: 60%;
    }
    .about-banner .right-banner {
      float: right;
      width: 40%;
    }
    .about-banner::after {
      content: '';
      display: block;
      clear: both;
    }
    .left-banner p {
      font-size: 2rem;
      font-weight: 450;
      margin-top: 0.5em;
    }
    .button-banner {
      display: inline-block;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-decoration: none;
      border: 0.2em solid white;
      color: #f4f4f4;
      padding: 0.4em 1em;
      letter-spacing: 0.5rem;
      
    }
    
    
    /*########################################*/
    
    
    p {
      font-size: 1.6rem;
      margin-bottom: 0.5em;
    }
    
    h1 , h2 , h3 {
      margin-bottom: 0.5em;
      letter-spacing: 0.15em;
      font-weight: 500;
    }
    
    
    /*########### Utility classes #############*/
    
    
    .lg-heading {
      font-size: 3.5rem;
    }
    .md-heading {
      font-size: 2.2rem;
    }
    .text-red {
      color: #DC2936;
    }
    .text-white {
      color: #f4f4f4;
    }
    .text-black {
      color: #252525;
    }
    .text-grey {
      color: #555555;
    }
    .container {
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
    }
    .btn {
      display: inline-block;
      font-weight: 500;
      padding: 0.5em 1.5em;
      text-transform: uppercase;
      text-decoration: none;
      margin: 0.5em 0;
    }
    .btn-primary {
      background: #fff;
      border-radius: 10em;
    }
    .btn-primary:hover {
      background: #DC2936;
      color: white;
      
    }
    .btn-secondary {
      background: #fff;
      letter-spacing: 0.6em;
      padding: 1em 3em;
      font-weight: bold;
      border: 2px solid #DC2936;
      border-radius: 1.5em;
      color: #DC2936;
    }
    .btn-secondary:hover {
      background: #111;
    }
    
    .bg-dark {
      background: #263238;
    }
    
    /*#########   Media Query    #############*/
    
    
    @media (max-width: 500px) {
      
      html {
        font-size: 50%;
      }
      
      .navbar .listitems, .navbar .logo {
        float: none;
        display: block;
        text-align: center;
      }
      
      .row {
        height: auto;
        width: 100%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -10px -10px 15px rgba(230,230,230,0.7);
  
      }
      .row .img-box , .row .text-box {
        float: none;
        width: 100%;
        text-align: center;
      }
      .feature .box {
        float: none;
        width: 100%;
        text-align: center;
        height: auto;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -10px -10px 15px rgba(230,230,230,0.7);
      }
      .feature .box2 , .feature .box3 {
        margin-top: 7rem;
      }
      .box-wrapper {
        box-shadow: none;
      }
  
      .feature .box i {
        font-size: 20px;
      }
      .footer {
        padding: 1rem;
      }
      .social i {
        font-size: 3rem;
      }
      .about-banner .left-banner, .about-banner .right-banner {
        float: none;
        width: 100;
      }
      .left-banner p {
        font-size: 1.7rem;
      }
      .button-banner {
        font-size: 1.2rem;
      }
    } 