body{
	    background-color: black;
	    align-content: center;
	    align-items: center;
	  }
	  a{
	    text-decoration: none;
	    align-items: center;
	    color: white;
	    margin:20px;
	    padding: 30px;
	    font-weight: 600;
	    font-family: Arial;
	    float: left;
	    border: solid 1px;
	    border-radius: 20px;
	    border-color: green;
	  }
	  a:hover{
	    color: red;
	  }
	  h1{
	    color: white;
	    font
	  }
	    
	  
